.searchForm {
  margin: 8px;
  display: flex;
  align-items: center;
}

.searchInput {
  flex-grow: 1;
  box-sizing: border-box;
  font-size: 14px;
  padding: 12px 8px;
  border: 1px solid gray;
  border-radius: 4px;
  margin-right: 12px;
}

.searchBtnWrapper {
  width: 80px;
  padding: 4px;
  box-sizing: border-box;
}
